@import url('https://fonts.googleapis.com/css?family=Alexandria');

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(#20639B 0%, #0B2235 100%);
  font-family: 'Alexandria', serif;
}

h1,
h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
}

/*Bootstrap Variablen*/
:root {
    --bs-primary: #272727;
    --bs-primary-rgb: 39, 39, 39;
    --bs-secondary: #4BC3B6;
    --bs-secondary-rgb: 75, 195, 182;
    --border-radius: 20px;
    --btn-hover-border-color: #4BC3B6;
}

:root {
    --linear-gradiant-element-vertical: linear-gradient(#4BC3B6, #2C86A5);
    --linear-gradiant-element-horizontal: linear-gradient(to right, #4BC3B6, #2C86A5);
}

a {
    color: #4BC3B6;
}

.btn-primary {
    background: var(--linear-gradiant-element-horizontal);
    padding: 0.625rem 1.25rem;
    color: white;
    font-size: 1rem;
    text-shadow: 0 0 7px rgba(0, 0, 0, 1);
    border-radius: 8px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    border-color: transparent;
}

.btn-primary:hover {
    border-color: var(--btn-hover-border-color);
    background: none;
}

:root {
    --primary-color: #272727;
    --secondary-color: #ffffff;
    --third-color: #494949;
    --forth-color: #20639b;
    --fifth-color: #4bc3b6;
    --primary-shadow: 4px 8px 6px #000000;
    --sixth-color: #0B2235;
}

h1, h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 900; /* Black */
}

h2 {
    @media (max-width: 576px) {
        font-size: 1rem;
    }
}

a {
    transition: opacity 0.3s ease;
}

a:hover {
    color: turquoise;
    opacity: 0.5;
}

:root {
  --primary-shadow: 4px 8px 6px #000000;
}

.border-radius-20-right {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.border-radius-20 {
  border-radius: 20px;
}

@media (max-width: 768px) {
    .border-radius-20-right {
        border-top-right-radius: 0;
        border-bottom-right-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }
}

.border-radius-20-left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

@media (max-width: 768px) {
    .border-radius-20-left {
        border-bottom-left-radius: 0;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
}
