@import url('https://fonts.googleapis.com/css?family=Alexandria');

body {
  font-family: 'Alexandria', serif;
}

p {
  margin-block-end: 0;
}

:root {
  --primary-color: #272727;
  --third-color: #494949;
  --secondary-color: #ffffff;
  --forth-color: #20639B;
}

:root {
  --primary-shadow: 4px 8px 6px #000000
}
